body {color: #303030;font-size: 11pt;background-color: #F4F4F4;}
table {border: 3px solid #F4F4F4;border-collapse:collapse;font-size: 14px;}
td, th {border: none;padding: 2px 8px 2px 8px;}
th {background-color: #B8B8E0;text-align: center;border: 3px solid #F4F4F4;font-weight: bold;}
th.sort {text-decoration: underline;cursor: pointer;}
th.sort_asc {padding-right: 15px;background:url(/res/images/sort_asc.png) right no-repeat #B8B8E0;}
th.sort_dsc {padding-right: 15px;background:url(/res/images/sort_dsc.png) right no-repeat #B8B8E0;}
tr.row {background-color: #E9E9FF;}
tr.rowodd {background-color: #DDDDFF;}
tr.decoy {background-color: #FFE9E9;}
tr.decoyodd {background-color: #FFDDDD;}
.notice {background-color: #E9E9FF;}
.noticeodd {background-color: #DDDDFF;}
.indistinguishable {font-weight: bold;color: green;text-decoration: underline;cursor: pointer;}
.more {color: green;text-decoration: underline;cursor: pointer;}
.modification {color: red;font-weight:bold;}
.error {color: red;}
.info {font-size: 11pt;}
.desc {color: #505050;}
.peptide_full {color: #707070;}
.peptide {color: #303030;font-weight: bold;}
.link {text-decoration: underline;cursor: pointer;}
