body {
	color: #303030;
	font-size: 11pt;
	background-color: #F4F4F4;
}

#container {
	border: none;
}

table {
	border: 3px solid #F4F4F4;
	border-collapse:collapse;
	font-size: 10pt;
}

td, th {
	border: none;
	padding: 2px 8px 2px 8px;
}

th {
	background-color: #B8B8E0;
	text-align: center;
	border: 3px solid #F4F4F4;
	font-weight: bold;
}

tr.norm {
	background-color: #E9E9FF;
}

tr.alt {
	background-color: #DDDDFF;
}

tr.decoy_norm {
	background-color: #FFE9E9;
}

tr.decoy_alt {
	background-color: #FFDDDD;
}

#results tr.info {
	font-size: 11pt;
}

#results tr.desc {
	color: #505050;
}
#results span.peptide_full {
	color: #707070;
}

#results span.peptide {
	color: #303030;
	font-weight: bold;
}

.link {
	text-decoration: underline;
	cursor: pointer;
}

